body .region-bottom {
  background: #F2F2F2;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding-bottom: 44px;
  margin-bottom: -24px;
}

.region-bottom .block {
  max-width: 1180px;
  padding: 0 20px;
  margin: 0 auto;
}

.region-bottom .block h2 {
  color: #686868;
}

.region-bottom .block .content:before, .region-bottom .block .content:after {
  content: "";
  display: table;
}

.region-bottom .block .content:after {
  clear: both;
}

.region-bottom .block .content .field-name-field-pane1 {
  float: left;
  width: 25%;
  margin-left: 0%;
  margin-right: -25%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

.region-bottom .block .content .field-name-field-pane2 {
  float: left;
  width: 25%;
  margin-left: 25%;
  margin-right: -50%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

.region-bottom .block .content .field-name-field-pane3 {
  float: left;
  width: 25%;
  margin-left: 50%;
  margin-right: -75%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

.region-bottom .block .content .field-name-field-pane4 {
  float: left;
  width: 25%;
  margin-left: 75%;
  margin-right: -100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

@media screen and (max-width: 980px) {
  
  .region-bottom .block .content .field-name-field-pane1 {
    float: left;
    width: 50%;
    margin-left: 0%;
    margin-right: -50%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  
  .region-bottom .block .content .field-name-field-pane2 {
    float: left;
    width: 50%;
    margin-left: 50%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  
  .region-bottom .block .content .field-name-field-pane3 {
    clear: left;
    float: left;
    width: 50%;
    margin-left: 0%;
    margin-right: -50%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  
  .region-bottom .block .content .field-name-field-pane4 {
    float: left;
    width: 50%;
    margin-left: 50%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
}

@media screen and (max-width: 480px) {
  
  .region-bottom .block .content .field-name-field-pane1 {
    clear: left;
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    padding: 0;
  }
  
  .region-bottom .block .content .field-name-field-pane2 {
    clear: left;
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    padding: 0;
  }
  
  .region-bottom .block .content .field-name-field-pane3 {
    clear: left;
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    padding: 0;
  }
  
  .region-bottom .block .content .field-name-field-pane4 {
    clear: left;
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    padding: 0;
  }
}
